@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C sharp - CRUD</h1>
    <p class="lead">This is a simple example of C Sharp Crud with Entity Framework</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello World</h2>
        <p>
            C Sharp
            Entity Framework
            Bootstrap
        </p>
     </div>
</div>